<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lolaage.mapper.ILoginMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	<insert id="addStudent">
	<![CDATA[   
		insert into t_student (f_name)values(#{name});
		]]>
	</insert>
	<update id="updateStudent">
		update t_student set f_name=#{name} where id=${id}
	</update>
	<select id="getStudent" resultType="java.util.Map">
		select *from t_student
	</select>
	<select id="login" resultType="java.util.Map">
		select *from t_user where username=#{username}and password=#{password}
	</select>
	<!-- <select id="Login" resultType="java.lang.Boolean"> select *from t_student 
		where f_name=#{uname} and f_subject=#{password} </select> <insert id="addStudent"> 
		</insert> <select id="getCount" statementType="CALLABLE" > <![CDATA[ {call 
		PRO_GET_USER_COUNT(#{paramMap.userId,mode=IN,jdbcType=INTEGER}, #{paramMap.count,mode=OUT,jdbcType=INTEGER})} 
		]]> </select> <select id="getUserInfos" statementType="CALLABLE" resultType="java.util.Map"> 
		<![CDATA[ {call PRO_GET_USER_INFO()} ]]> </select> <select id="getUserMoreCounts" 
		statementType="CALLABLE"> <![CDATA[ {call PRO_GET_USER_MORE_COUNT(#{paramMap.userId,mode=IN,jdbcType=INTEGER}, 
		#{paramMap.boy_count,mode=OUT,jdbcType=INTEGER}, #{paramMap.girl_count,mode=OUT,jdbcType=INTEGER})} 
		]]> </select> 返回多个结果集 <resultMap type="java.util.HashMap" id="boyMap"> <result 
		column="f_id" property="fid" jdbcType="INTEGER" javaType="java.lang.Integer"/> 
		<result column="f_name" property="fname" jdbcType="VARCHAR" javaType="java.lang.String"/> 
		<result column="sex" property="fsex" jdbcType="VARCHAR" javaType="java.lang.String"/> 
		</resultMap> <resultMap type="java.util.HashMap" id="girlMap"> <result column="f_id" 
		property="fid" jdbcType="INTEGER" javaType="java.lang.Integer"/> <result 
		column="f_name" property="fname" jdbcType="VARCHAR" javaType="java.lang.String"/> 
		<result column="sex" property="fsex" jdbcType="VARCHAR" javaType="java.lang.String"/> 
		</resultMap> <select id="getUserMoreUsers" statementType="CALLABLE" resultMap="boyMap,girlMap"> 
		<![CDATA[ {call PRO_GET_USER_MORE_USERS()} ]]> </select> 返回多个结果集 其他写法 <parameterMap 
		type="java.util.Map" id="paramMap"> <parameter property="userId" mode="IN" 
		jdbcType="INTEGER"/> <parameter property="count" mode="OUT" jdbcType="INTEGER" 
		javaType="int"/> </parameterMap> <select id="PRO_DEMO1" parameterMap="paramMap" 
		statementType="CALLABLE" > <![CDATA[ {call PRO_GET_USER_COUNT(?,?)} ]]> </select> -->
</mapper>